{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/auth.css" %}">
    {% block title %} 
        
    {% endblock %}

</head>
<body class="body">

    <header class="header">
        <div class="header_content">
            <h1>VladKish</h1>
            <div class="header-block">
                <a href="" class="login">Login</a>
                <span>/</span>
                <a href="" class="sign">Sign</a>
            </div>
            
            <!-- user authe. -->
            <!-- <div>
                <p>Profile</p>
            </div> -->
        </div>
    </header>

    {% block content %} 

    {% endblock %}
</body>
</html>