{% extends "todo/base.html" %}

{% block content %}
  <div class="center_task">
    <div class="text">
      <h1>Создание задачи</h1>

      <div class="task-form">
        <form action="{% url "todo:create_task" %}" method="post" name="task">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="task">

          <label for="{{ task_form.title.id_for_label }}">Название задачи</label>
          {{ task_form.title }}

          <label for="{{ task_form.description.id_for_label }}">Напиши описание</label>
          {{ task_form.description }}

          <label for="{{ task_form.category.id_for_label }}">Выберете категорию</label>
          {{ task_form.category }}
          {% comment %} <select name="category" required>
            <option value="work">Работа</option>
            <option value="hobby">Хобби</option>
            <option value="home">Дом</option>
            <option value="other">Другое</option>
          </select> {% endcomment %}

          <button type="submit">Создать задачу</button>
        </form>
      </div>
    </div>

    <div class="text margin_text">
      <h1>Создание категории</h1>

      <div class="task-form">
        <form action="{% url "todo:create_task" %}" method="post" name="category">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="task">

          <label>Название категории</label>
          <input type="text" name="title" required>

          <button type="submit">Создать задачу</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}