<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>

</head>
<body class="body">

    <header class="header">
        <div class="header_content">
            <h1>VladKish</h1>
            <div class="header-block">
                <a href="" class="login">Login</a>
                <span>/</span>
                <a href="{% url "todo:create_task" %}" class="sign">Sign</a>
            </div>
            
            <!-- user authe. -->
            <!-- <div>
                <p>Profile</p>
            </div> -->
        </div>
    </header>

    <div class="center_task">
        <div class="text">
            <h1>Список задач (1/3)</h1>
            <div class="nav">
                <ul>
                    <li><a href="">Все | </a></li><li><a href="">Работа</a></li><li><a href="">Хобби</a></li><li><a href="">Дом</a></li>
                </ul>
            </div>
            <div class="block_task">
                <div class="task">
                    <div class="block_one">
                        <div class="status red green"></div>
                        <div class="main-text-task">
                            <h1>Название задачи</h1>
                            <p>Описание задачи</p>
                            <p>25 янв</p>
                        </div>
                    </div>

                    <div>
                        <a class="link_doing" href="">Пометить как сделанное</a>
                    </div>
                </div>

                <div class="task">
                    <div class="block_one">
                        <div class="status red green"></div>
                        <div class="main-text-task">
                            <h1>Название задачи</h1>
                            <p>Описание задачи</p>
                            <p>25 янв</p>
                        </div>
                    </div>

                    <div>
                        <a class="link_doing" href="">Пометить как сделанное</a>
                    </div>
                </div>

                                <div class="task">
                    <div class="block_one">
                        <div class="status red green"></div>
                        <div class="main-text-task">
                            <h1>Название задачи</h1>
                            <p>Описание задачи</p>
                            <p>25 янв</p>
                        </div>
                    </div>

                    <div>
                        <a class="link_doing" href="">Пометить как сделанное</a>
                    </div>
                </div>

                                <div class="task">
                    <div class="block_one">
                        <div class="status red green"></div>
                        <div class="main-text-task">
                            <h1>Название задачи</h1>
                            <p>Описание задачи</p>
                            <p>25 янв</p>
                        </div>
                    </div>

                    <div>
                        <a class="link_doing" href="">Пометить как сделанное</a>
                    </div>
                </div>

                                <div class="task">
                    <div class="block_one">
                        <div class="status red green"></div>
                        <div class="main-text-task">
                            <h1>Название задачи</h1>
                            <p>Описание задачи</p>
                            <p>25 янв</p>
                        </div>
                    </div>

                    <div>
                        <a class="link_doing" href="">Пометить как сделанное</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>