{% extends "users/base.html" %}

{% block content %}
  <div class="center_task">
    <div class="text">
      <h1>Регистрация</h1>
      <div class="auth-block">

        <div class="auth-form">
          <h2>Войти в аккаунт</h2>
          <form action="{% url "users:login" %}" method="post">
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
            {{ form.username }}
            
            <label for="{{ form.password.id_for_label }}">Пароль</label>
            {{ form.password }}
            
            <button type="submit">Войти</button>
          </form>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
