{% extends "users/base.html" %}
{% load static %}

{% block content %}
  <div class="center_task">
    <div class="text">
      <h1>Профиль пользователя</h1>
      <div class="profile-card">
        <div class="profile-avatar">
          <img src="
          {% if user.image %}{{ user.image.url }}{% else %}{% static "img/default.jpg" %}{% endif %}" alt="Avatar">
        </div>
        <div class="profile-info">
          <h2>{{ user.username }}</h2>
          <p><strong>Email:</strong>{{ user.email }}</p>
          {% if user.is_staff or user.is_superuser%}
            <p><strong>Роль:</strong> Админ</p>
          {% else %}
            <p><strong>Роль:</strong> Пользователь</p>
          {% endif %}
          <p><strong>Дата регистрации:</strong>{{ user.date_joined }}</p>
        </div>
      </div>

      <div class="profile-actions">
        <button class="btn">Редактировать профиль</button>
        <a class="btn logout" href="{% url "users:logout" %}">Выйти</a>
      </div>
    </div>

    <div class="public-tasks">
        <h2>3адачи</h2>
        {% comment %} <h2>Публичные задачи</h2> {% endcomment %}
        <div class="tasks-grid">
        {% if posts %}
          {% for post in posts %}
              <div class="task-card">
              <h3>{{ post.title }}</h3>
              <p>{{ post.description }}</p>
              <span>{{ post.date_public }}</span>
              </div>
          {% endfor %}
        {% else %}
          <h2>Задач нету</h2>
        {% endif %}
        </div>
    </div>
  </div>
{% endblock content %}