{% extends "users/base.html" %}

{% block content %}
  <div class="center_task">
    <div class="text">
      <h1>Регистрация</h1>
      <div class="auth-block">

        <!-- Sign Up -->
        <div class="auth-form">
          <h2>Создать аккаунт</h2>
          <form action="#" method="post">
            <label>Имя пользователя</label>
            <input type="text" name="username" required>
            
            <label>Email</label>
            <input type="email" name="email" required>
            
            <label>Пароль</label>
            <input type="password" name="password" required>
            
            <button type="submit">Зарегистрироваться</button>
          </form>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
